.form {
  margin-top: -255px;
  padding-top: 53px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $body-color;
  box-sizing: border-box;
}

.form__description {
  text-align: center;
  margin-bottom: 49px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  border: none;
}

.form__fieldset--name {
  outline: 3px solid lime;
}

.form__fieldset--achievements {
  background-color: #f2f2f2;
  outline: 3px solid $crimson;
}

.form__fieldset--contacts {
  outline: 3px solid yellow;
}

.form__fieldset--applications {
  background-color: #f2f2f2;
  outline: 3px solid blue;
}

.form__fieldset--emotion {
  outline: 3px solid pink;
}

.form__label {

}

.form__label--name {
  padding-left: 23px;
  color: #d22856;
  text-transform: uppercase;
}

.form__text {
  width: 100%;
  padding: 13px 23px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  box-sizing: border-box;
}

.form__legend {
  line-height: 18px;
  color: #d22856;
}

.form__checkbox {

}

.form__tel {
  padding: 0 22px;
}

.form__email {
  padding: 0 22px;
}

.form__radio {

}

.form__textarea {
  padding: 0 22px;
}

.form__button {

}

.form__required {

}

.form__pop-up {
  outline: 3px solid olive;
}
