.contacts {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  outline: 1px solid red;
}

.contacts__intro {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 36px;
}

.contacts__item {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

.contacts__telephone {
  color: $crimson;
  font-weight: 300;
}

.contacts__email {
  color: $crimson;
  font-weight: 300;
}

.contacts__address {
  color: $crimson;
  font-weight: 300;
}

.contacts__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
}
