.contacts {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  outline: 1px solid red;
}

.contacts__intro {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 36px;
}

.contacts__item {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
}

.contacts__telephone {
  color: $crimson;
  font-weight: 300;
}

.contacts__email {
  color: $crimson;
  font-weight: 300;
}

.contacts__address {
  color: $crimson;
  font-weight: 300;
}

.contacts__map {
  width: 320px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 660px;
    margin: 0 auto;
  }

  .contacts__intro {
    font-size: 40px;
    line-height: 47px;
  }

  .contacts__item {
    width: 300px;

    &:nth-of-type(2) {
      padding-right: 10px;
    }

    &:nth-of-type(3) {
      padding-left: 10px;
    }
  }

  .contacts__map {
    width: 660px;
    height: 375px;
    background-image: url("../img/index-map-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% 70%;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 940px;
  }

  .contacts__intro {
    width: 640px;
    order: 1;
  }

  .contacts__item {
    width: 280px;

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 3;
    }
  }

  .contacts__map {
    width: 980px;
    height: 487px;
    margin: 0 -10px;
    order: 5;
    background-image: url("../img/index-map-marker-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 60%;
  }
}
