.download {
  background-color: #1d2631;
  color: white;
}

.download__header {
  width: 700px;
  height: 462px;
  background: url("../img/iphone-hand-mobile@1x.png") 0% 100% no-repeat, url("../img/bg-back-mobile@1x.jpg");
}

.download__title {

}

.download__image {

}

.download__button {

}

.download__list {
  padding: 28px 20px;
  list-style: none;
}

.download__item {

}

.download__link {

}

.download__link--itunes {

}

.download__link--android {

}

.download__link--microsoft {

}

.download__description {
  padding: 0 20px;
  padding-bottom: 34px;
}
