.feauters {
  width: 320px;
  margin: 0 auto;
  line-height: 24px;
  outline: 1px solid red;
}

.feauters__intro {
  margin: 0;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background: $body-color;
}

.feauters__gradient {
  padding-bottom: 60px;
  background-image: linear-gradient(-185deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 75%, #f2f2f2 75%, #f2f2f2 100%);
}

.feauters__list {

  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  background-color: #f2f2f2;
}

.feauters__item {
  margin-bottom: 38px;
}

.feauters__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: black;
}

.feauters__description {
  margin: 0;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.feauters__item--mood {
  padding-top: 48px;
}

.feauters__item--decorate {
}

.feauters__item--friends {
}

.feauters__iphone {
  width: 280px;
  height: 320px;
  background: url("../img/iphone-screen-mobile.png") no-repeat 50%;
}

@media (min-width: $tablet-width) {
  .feauters {
    width: 660px;
    margin-bottom: 60px;
  }

  .feauters__intro {
    font-size: 40px;
    line-height: 44px;
  }

  .feauters__gradient {
    padding-bottom: 145px;
  }

  .feauters__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 547px;
  }

  .feauters__item {
    width: 310px;
    margin-bottom: 32px;

    &:first-child {
      margin-top: 22px;
    }
  }

  .feauters__iphone {
    width: 268px;
    height: 547px;
    margin-top: -45px;
    order: -1;
  }

  .feauters__item--mood {
    padding-top: 0;
  }

  .feauters__title {
    text-align: left;
  }

  .feauters__description {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .feauters {
    width: 940px;
  }

  .feauters__list {

  }
}
