.feauters {

}

.feauters__intro {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 44px;
  font-size: 24px;
  font-weight: 300;
}

.feauters__list {
  background-color: #f2f2f2;
  list-style: none;
}

.feauters__item {

}

.feauters__title {
  margin: 0;
  padding: 18px 20px;
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.feauters__description {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 18px;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
}

.feauters__item--mood {

}

.feauters__item--decorate {

}

.feauters__item--friends {

}

.feauters__iphone {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 26px;
  width: 157px;
  height: 320px;
  background: url("../img/iphone-screen-mobile@1x.png");
}
