.form {
  padding-top: 33px;
  padding-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.form__description {

}

.form__fieldset {
  padding: 20px 0;
  border: none;
}

.form__fieldset--name {

}

.form__fieldset--achievements {
  background-color: #f2f2f2;
}

.form__fieldset--contacts {

}

.form__fieldset--applications {
  background-color: #f2f2f2;
}

.form__fieldset--emotion {

}

.form__label {

}

.form__label--name {
  color: #d22856;
}

.form__text {
  padding: 0 22px;
}

.form__legend {
  line-height: 18px;
  color: #d22856;
}

.form__checkbox {

}

.form__tel {
  padding: 0 22px;
}

.form__email {
  padding: 0 22px;
}

.form__radio {

}

.form__textarea {
  padding: 0 22px;
}

.form__button {

}

.form__required {

}

.form__pop-up {

}
