.gallery {

}

.gallery__title {
  margin: 0;
  width: 700px;
  height: 462px;
  background: url("../img/bg-back-mobile@1x.jpg");
  font-size: 24px;
  font-weight: 300;
  color: white;
}

.gallery__description {

}

.gallery__list {

}

.gallery__item {

}

.gallery__header {

}

.gallery__picture {

}

.gallery__best {

}

.gallery__link {

}

.gallery__image {

}

.gallery__text {

}

.gallery__author {

}

.gallery__time {

}

.gallery__comment {

}
