.likes {
}

.likes__link {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $crimson;
}

.likes__heart {
  width: 14px;
  height: 14px;
  margin-right: 18px;
  font-size: 0;
  background: url("../img/icon-heart.svg") no-repeat 0% 50%;
}

.likes__number {
  margin-left: 5px;
}
