.page-main {
  margin: 0 auto;
  padding: 0;
  outline: 2px solid blue;

  @media (min-width: $tablet-width) {
    width: 660px;
  }
}

.page-main__header {
  margin: 0 auto;
  margin-bottom: 53px;
  width: 320px;
  height: 237px;
  background: url("../img/bg-back-mobile@1x.jpg") 50% 0% no-repeat;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 442px;
    margin-bottom: 98px;
    background: url("../img/back-tablet.jpg") 0% 0% no-repeat;
    background-size: cover;
  }
}

.page-main__title--form {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 300;
  color: white;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 181px;
    font-size: 50px;
    line-height: 58px;
  }
}

.page-main__title--photo {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 300;
  color: white;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 181px;
    font-size: 50px;
    line-height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    width: 940px;
    margin-top: -110px;
    padding: 0 10px;
  }
}
