.page-footer {
  margin-top: 42px;
  padding: 0 20px;
  outline: 3px solid orange;
}

.page-footer__logo {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  line-height: 0;
  text-align: center;
}

.page-footer__logo-image {
  min-height: 41px;
}

.page-footer__social {
  margin-bottom: 40px;
}

.page-footer__copyright {
  margin-bottom: 40px;
}
