.page-header {
  width: 320px;
  margin: 0 auto;
  margin-bottom: -85px;
  background-color: #283645;
}

.page-header__logo {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 0;
  font-size: 0;
}

.page-header__logo-mobile {
  padding: 22px 0;
}

.page-header__logo--tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 660px;
    margin-bottom: -144px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo--tablet {
    display: block;
    padding: 34px;
    background: url("../img/logo-pink-blue-mobile.svg") no-repeat 50%;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: rgba(40, 54, 69, 0.3);
  }

  .page-header__logo {
    padding: 0;
    background-color: transparent;
  }

  .page-header__logo--tablet {
    padding: 0;
  }
}
