.pop-up {
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.pop-up__success {
  background: linear-gradient(to bottom, white 50%, #f2f2f2 50%);
}

.pop-up__failure {

}

.pop-up__title {
  font-size: 18px;
  color: black;
  padding-top: 43px;
}

.pop-up__warning {
  margin: 0;
  padding: 0;
  padding-top: 34px;
}

.pop-up__button {
  margin: 50px 0px;
}
