.price {
  background-color: #f2f2f2;
  padding: 91px 20px 20px 20px;
}

.price__table {

}

.price__string {

}

.price__title {

}

.price__name {
  background-color: #283645;
  border: 2px solid #283645;
}

.price__name--hit {

}

.price__name--active {

}

.price__cost {

}

.price__filter {

}

.price__emotes {

}

.price__comments {

}

.price__toggles {

}
