.review {

}

.review__wrapper {
  padding: 48px 20px;
  padding-bottom: 24px;
}

.review__list {
  list-style: none;
}

.review__item {

}

.reviews__item--active {

}

.review__author {

}

.review__text {

}

.review__toggles {

}
