.upload {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  outline: 3px solid green;
}

.upload__description {
  margin: 0;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 35px;
}

.upload__form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: $grey-bg;
}

.upload__image {
  margin-bottom: 40px;
}

.upload__tools-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
}

.upload__tool {
  width: 44px;
  height: 44px;
  margin-bottom: 39px;
  opacity: 0.3;
  background-color: #283645;

  &:last-of-type {
    //margin-bottom: 115px;
  }
}

.upload__tool--active {
  opacity: 1;
}

.upload__range {
  display: none;
  -webkit-appearance: none;
  width: 240px;
  height: 2px;
  //margin-left: -18px;
  //margin-top: 82px;
  margin: 0 auto;
  margin-bottom: 73px;
  background-color: black;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background-color: $grey-bg;
    border: 2px solid $crimson;
    border-radius: 50%;
    cursor: pointer;
  }
}

.upload__range--active {
  display: block;
  order: 1;
}

.upload__crop {
  margin-left: 36px;
  background: url("../img/icon-editor-crop.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.upload__gradient {
  margin-left: 34px;
  background: url("../img/icon-editor-fill.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.upload__brightness {
  margin-left: 40px;
  background: url("../img/icon-editor-contrast.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.upload__buttons {
  order: 2;
}

.upload__submit {
  width: 280px;
  padding: 15px 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $crimson;
  text-align: center;
  background-color: $grey-bg;
  border: 3px solid $crimson;
  border-radius: 25px;
  cursor: pointer;
}

.upload__reset {
  width: 280px;
  padding: 15px 0;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  background-color: $grey-bg;
  border: 3px solid #283645;
  border-radius: 25px;
  opacity: 0.1;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .upload {
    width: 660px;
  }

  br {
    display: block;
  }

  .upload__description {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .upload__form {
    width: 660px;
    justify-content: space-between;
    padding-bottom: 55px;
  }

  .upload__image {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
  }

  .upload__tools-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    padding-top: 10px;
    padding-left: 27px;
    padding-right: 12px;
    box-sizing: border-box;
  }

  .upload__tool {
    width: 24px;
    height: 24px;
    opacity: 0.3;
    margin: 0;
    margin-right: 28px;
    margin-bottom: 51px;
    opacity: 1;

    &:last-of-type {
      margin-bottom: 66px;
    }
  }

  .upload__range--active {
    order: 0;
  }

  .upload__range {
    display: block;
    width: 202px;
    margin: 0;
    margin-top: 11px;
  }

  .upload__buttons {
    width: 260px;
    height: 132px;
  }

  .upload__submit {
    width: 260px;
    margin-bottom: 25px;
  }

  .upload__reset {
    width: 260px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    width: 940px;
    margin-bottom: 63px;
  }

  .upload__description {
    font-size: 18px;
  }

  .upload__form {
    width: 940px;
    padding-top: 56px;
    padding-left: 80px;
    padding-right: 80px;
  }

  .upload__tools-wrapper {
    width: 410px;
    padding-left: 0;
    padding-right: 0;
  }

  .upload__buttons {
    width: 410px;
  }

  .upload__submit {
    width: 183px;
    margin-right: 40px;
  }

  .upload__reset {
    width: 183px;
  }
}
